body {
    background: #000;
}
.container {
    background: #fff;
    height: 70vh;
    width: 70%;
    margin: auto;
    padding: 5px;
    border:5px solid red;

    /*========Start your code here ====== */
   display: flex;
   justify-content: flex-end;
   align-items:flex-end ;

    /*================ End ================*/
}
.box {
    height: 200px;
    width: 200px;
    background: #0011ff;
}